fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings

# LLM / AI
openai
langchain
langchain-core
langchain-groq
langchain-community
langchain-chroma
langchain-text-splitters
langgraph
g4f

# Embeddings
sentence-transformers
torch

# Vector DB
chromadb

# Transcript extraction
youtube-transcript-api
yt-dlp

# Audio processing
ffmpeg-python

# Utilities
httpx
aiofiles
pymongo
